.heading{
    width: 100%;
    margin: 0;
    font-size: 23px;
}
.note{
    color: black;
    font-size: 18px;
}
body{
    background-size: cover;
}
.div_speed{
    float: left;
}
.div_img{
    border-radius: 100px;
    width: 200px;
    margin-left: 10px;
}
#speed{
    font-size: 23px;
    margin-right: 15px;
}
.div_volume{
    float: right;

}
#volume{
    font-size: 23px;
    margin-right: 10px;
}
.play_button{
    font-size: 25px;
    width: 150px;
}
canvas{
    border-radius: 15px;
    border: 5px solid white;
}